{% load static %}
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="row">
        <div class="col-12">
          <a class="navbar-brand mr-1" href="/">About <span class="font-italic font-weight-light" style="font-size: .7em;">by</span></a>
          <a class="navbar-brand my-0 ml-1 p-0" href="https://www.mcharts.com/">
            <img src="{% static 'index/img/mCharts-dark.png' %}" class="CyperLogo">
          </a>
          <hr>
          <p>{{ site.aboutUS }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 mt-md-0 mt-2">
      <h3>Contact Us</h3>
      <hr>
      <address>
        <strong>MyStoreFront, Inc.</strong><br>
        Indian Treasure Link<br>
        Quitman, WA, 99110-0219<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
      <address>
        <strong>Full Name</strong><br>
        <a href="mailto:#">first.last@example.com</a>
      </address>
    </div>
  </div>
</div>
</div>
</body>
<footer>
  <script src="https://unpkg.com/@popperjs/core@2" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="{% static 'index/javascripts/custom.js' %}"></script>
</footer>

</html>
