{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">  <!-- Leave this here its closing tag is in footer.html -->

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{site.siteName}}</title>

  <!-- Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="{% static 'index/stylesheets/custom.css' %}" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/png" href="{% static 'index/img/favicon.ico' %}"/>


  <!-- Load the AngularJS library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx35frbsAzHQ0SZcxWoZaE7VDljeDyOgo&libraries=places"></script>

  <script src="{% static 'index/angular/medAngular.js' %}"></script>

</head>

<body>  <!-- Leave this here its closing tag is in footer.html -->

  <div ng-app="medLookUp">  <!-- Leave this here its closing tag is in footer.html -->

    {% include 'partials/navbar.html' %}
