{% load static %}
{% include 'partials/header.html' %}
<div ng-controller="homeCtrl" style="display: none;" ng-style="style">
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner rounded">
            <div class="carousel-item active">
              <a href="/">
                <img class="d-block w-100" src="{% static 'index/img/dna.png' %}" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <h1>{{site.siteName}}</h1>
                  <p>Powered by mCharts</p>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href="/interactions">
                <img class="d-block w-100" src="{% static 'index/img/virus.png' %}" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                  <h1>Drug Interaction Search</h1>
                  <p>Find Drug Interactions</p>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a href="https://www.mcharts.com/">
                <img class="d-block w-100" src="{% static 'index/img/analysis.png' %}" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                  <h1>mCharts</h1>
                  <p>Personal Health Record Application</p>
                </div>
              </a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div ng-controller="mapsCtrl" style="display: none;" ng-style="style">

            <style>
              /* Set the size of the div element that contains the map */
              #map {
                height: 353px;
                /* The height is 400 pixels */
                width: 100%;
                /* The width is the width of the web page */
              }
            </style>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx35frbsAzHQ0SZcxWoZaE7VDljeDyOgo&libraries=places"></script>

            <!--The div element for the map -->
            <div class="rounded" id="map"></div>
            <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'" style="display: none;">
              <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
                <label id="names">{{marker.title}}</label></a>
            </div>
            <!--Load the API from the specified URL
             * The async attribute allows the browser to render the page while the API loads
             * The key parameter will contain your own API key (which is not needed for this tutorial)
             * The callback parameter executes the initMap() function
             -->
          </div>
        </div>
        <hr>
        <div class="col-lg-4 col-12">
          <div class="row mx-0">
            <div class="col-12 card bg-light mx-auto">
              <h3 class="text-center card-header bg-light">Find Your Medications</h3>
              <form class="card-body" ng-submit="submit()">
                <div class="form-group row">
                  <label for="location" class="col-form-label">Location: </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text" id="basic-addon1">></div>
                    </div>
                    <input class="form-control" type="text" name="input" ng-model="location" ng-trim="false">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="medication" class="col-form-label">Medication: </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text" id="basic-addon1">></div>
                    </div>
                    <input class="form-control" type="text" name="input" ng-model="medication" required ng-trim="false">
                  </div>
                </div>
                <div class="text-center">
                  <input class="btn btn-danger text-center" type="submit" id="submit" value="Submit" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <h3 class="m-3">{[{ banner }]}</h3>
      </div>
      <div class="border-left border-primary" ng-if="local">
        <div ng-repeat="n in range(0, local.length - 1)">
          <h3 class="my-4 pl-3 bg-light">{[{ local[n].title }]}</h3>
          <div class="container">
            <div class="row">
              <div class="col-4">
                <p class="m-0 text-center border-right">Quantity</p>
              </div>
              <div class="col-4">
                <p class="m-0 text-center border-right">Price Per Unit</p>
              </div>
              <div class="col-4">
                <p class="m-0 text-center">Total Price</p>
              </div>
            </div>
          </div>
          <div ng-repeat="i in range(0, local[n].quantity.length - 1)">
            <div class="container">
              <hr>
              <div class="row">
                <div class="col-4">
                  <p class="m-0 text-center">{[{ local[n].quantity[i] }]}</p>
                </div>
                <div class="col-4">
                  <p class="m-0 text-center">{[{ local[n].unitPrice[i] }]}</p>
                </div>
                <div class="col-4">
                  <p class="m-0 text-center">{[{ local[n].totalPrice[i] }]}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'partials/footer.html' %}
