{% load static %}
{% include 'partials/header.html' %}
<div ng-controller="homeCtrl" style="display: none;" ng-style="style">
  <div class="container mt-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleControls" data-slide-to="1"></li>
              <li data-target="#carouselExampleControls" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <a href="/">
                  <img class="d-block w-100" src="{% static 'index/img/dna.png' %}" alt="First slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{site.siteName}}</h5>
                    <p>Powered by mCharts</p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="/interactions">
                  <img class="d-block w-100" src="{% static 'index/img/virus.png' %}" alt="Third slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Drug Interaction Search</h5>
                    <p>Find Drug Interactions</p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="https://www.mcharts.com/">
                  <img class="d-block w-100" src="{% static 'index/img/analysis.png' %}" alt="Second slide">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>mCharts</h5>
                    <p>Personal Health Record Application</p>
                  </div>
                </a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="row mx-0">
            <div class="col-12 card bg-light mx-auto">
              <h4 class="text-center card-header bg-light">Find Drug Interactions</h4>
              <form class="card-body" ng-submit="submitInteractions()">
                <div class="form-group row">
                  <label for="interactionMeds" class="col-form-label">
                    <h4>Medications: </h4>
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text" id="basic-addon1">></div>
                    </div>
                    <input class="form-control" type="text" name="input" ng-model="interactionMeds" required ng-trim="false">
                  </div>
                  <p class="my-0">Enter values seperated by a comma. ( , )</p>
                  <p class="mt-0">Example: (advil, lipitor)</p>
                </div>
                <div class="text-center">
                  <input class="btn btn-danger text-center" type="submit" id="submit" value="Submit" />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-12 bg-light">
          <div class="text-center">
            <h3 class="m-3">{[{ banner }]}</h3>
            <hr>
            <h4 class="mb-0 text-white bg-danger">{[{ interaction.Warning[0] }]}</h4>
            <p class="my-0">{[{ interaction.Warning[1] }]}</p>
            <div ng-repeat="i in range(0, interaction.Interactions.length - 1)">
              <div class="container">
                <hr>
                <h5 class="text-danger">{[{ interaction.Interactions[i] }]}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'partials/footer.html' %}
