{% load static %}
{% include 'partials/header.html' %}
<div ng-controller="homeCtrl" style="display: none;" ng-style="style">
  <div class="container mt-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="row mx-0">
            <div class="col-12 card bg-light mx-auto">
              <h4 class="text-center card-header bg-light">Find Drug Interactions</h4>
              <form class="card-body" ng-submit="submitInteractions()">
                <div class="form-group row">
                  <label for="interactionMeds" class="col-form-label"><h4>Medications: </h4></label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text" id="basic-addon1">></div>
                    </div>
                    <input class="form-control" type="text" name="input" ng-model="interactionMeds" required ng-trim="false">
                  </div>
                  <p class="my-0">Enter values seperated by a comma. ( , )</p>
                  <p class="mt-0">Example: (advil, lipitor)</p>
                </div>
                <div class="text-center">
                  <input class="btn btn-danger text-center" type="submit" id="submit" value="Submit" />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-12 bg-light">
          <div class="text-center">
            <h3 class="m-3">{[{ banner }]}</h3>
            <hr>
            <h4 class="mb-0 text-white bg-danger">{[{ interaction.Warning[0] }]}</h4>
            <p class="my-0">{[{ interaction.Warning[1] }]}</p>
            <div ng-repeat="i in range(0, interaction.Interactions.length - 1)">
              <div class="container">
                <hr>
                <h5 class="text-danger">{[{ interaction.Interactions[i] }]}</h5>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'partials/footer.html' %}
